Options +FollowSymlinks
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

RewriteRule index(\.html)? / [L,R=301]

RewriteRule ^(.+)\.html$ /$1 [L,R=301]

RewriteRule ^ dist/%{REQUEST_URI}

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ $1.html
